{% extends 'index.html' %}
{% load static %}

{% block title %}

    App - ES.Django.App

{% endblock %}

{% block content %}

    <section id="app_about_page" class="grid place-items-center px-3 py-20">

        <h1 class="mt-20 mb-14 text-4xl font-bold text-center text-gray-900">
            Django App | Deployed on Heroku and Amazon Web Services
        </h1>

        <img class="w-[100px] h-auto mx-auto mb-14" src="{% static 'imgs/generic/favicon.png' %}" alt="ES.Django.App logo" />

        <p class="mb-6 mx-10 text-lg font-normal text-center text-gray-500">
            This app was created to demonstrate the simplicity of using the Python Django (Web Development Framework) on a small project, showcasing its ability to deliver good performance when deployed on web services platforms.
        </p>

    </section>
    

{% endblock %}