{% extends 'index.html' %}
{% load static %}

{% block title %}

    Blog - ES.Django.App

{% endblock %}

{% block content %}

    <section id="blog" class="grid place-items-center px-3 py-20">

        <h1 class="mt-36 sm:mt-8 mb-14 text-4xl font-bold text-center text-white">
            Blog | Django Sample App on Heroku
        </h1>

        {% for post in posts %}
            <div
                id="post_container"
                class="flex flex-col bg-slate-900 border border-gray-800 rounded-lg shadow max-w-[22rem] sm:max-w-sm md:max-w-xl mx-2 mb-14"
            >
                <div class="relative flex flex-cols-2">

                    <p id="post-{{post.id}}" class="m-6 font-bold text-xl text-white">
                        {{ post.author.first_name }} {{ post.author.last_name }}

                        <br />

                        <span id="date_mobile" class="md:hidden font-normal text-xl text-white">
                            {{ post.published_date|date:"F j, Y" }}
                        </span>
                    </p>

                    <p
                        id="date"
                        class="hidden md:block absolute right-0 my-6 px-6 font-normal text-xl text-white"
                    >
                        {{ post.published_date|date:"F j, Y" }}
                    </p>

                </div>

                {% if post.media %} 

                    {% if '.mp4' in post.media.url or '.avi' in post.media.url or '.mov' in post.media.url %}

                        <video controls>
                            <source 
                                class="object-cover w-full h-full mt-3 md:mt-0" 
                                src="{{ post.media.url }}" 
                                type="{{ video_mime_type }}" 
                                preload="metadata"
                            />
                        </video>
                        
                    {% else %}

                        <img
                            class="object-cover md:object-contain w-full h-full md:max-w-[600px] md:max-h-[448px]"
                            src="{{ post.media.url }}"
                            alt="Foto de publicación: {{ post.title }}"
                            loading="lazy"
                        />

                    {% endif %} 

                {% endif %}

                <div class="flex flex-col justify-between p-4 leading-normal left-0">

                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-white">
                        {{ post.title }}
                    </h2>

                    <p class="mb-3 font-normal text-lg text-white break-words">
                        {{ post.text_field }}
                    </p>

                    {% if request.user == post.author or request.user.is_superuser %}

                        {# Post actions #}
                            <div class="flex flex-wrap justify-center my-3 md:mb-1">
                    
                                <a href="{% url 'update_post' post.pk %}" class="w-46 md:w-56 h-11 max-md:mx-auto md:mr-5 text-amber-600 border border-amber-600 hover:bg-amber-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-full text-md p-2.5 text-center inline-flex justify-center items-center">

                                    <svg class="w-6 h-6 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                                    </svg>                                      
                    
                                    Update Post
                
                                </a>
                
                                <button type="button" data-modal-target="delete-post-modal-{{ post.pk }}" data-modal-toggle="delete-post-modal-{{ post.pk }}" class="w-46 mb-3 md:w-56 h-11 max-md:mx-auto md:mr-5 text-red-700 border border-red-700 hover:bg-red-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-full text-md p-2.5 text-center inline-flex justify-center items-center">
                
                                    <svg class="w-6 h-6 mr-1.5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">                          
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>            
                                    </svg>
                    
                                    Delete Post
                
                                </button>
                                
                            </div>

                            <!-- Delete Post Modal -->
                                <div class="fixed pt-5 left-0 right-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-full" id="delete-post-modal-{{ post.pk }}">
                                    <div class="relative w-full h-full max-w-2xl p-4">
                                        <!-- Modal content -->
                                        <div class="relative bg-slate-900 rounded-lg shadow">
                                            <!-- Modal header -->
                                            <div class="flex items-start justify-between p-5 border-b rounded-t">
                                                <h3 class="text-xl font-semibold">
                                                    Delete Post
                                                </h3>
                                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-white rounded-lg text-base p-1.5 ml-auto inline-flex items-center" data-modal-target="delete-post-modal-{{ post.pk }}" data-modal-toggle="delete-post-modal-{{ post.pk }}">
                                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                                                </button>
                                            </div>
                                            <!-- Modal body -->
                                            <div class="p-6 space-y-6">

                                            <div class="text-center">
                                                
                                                <p class="mt-4 mb-8 text-2xl font-bold tracking-tight text-white">
                                                    
                                                    Author Information:
                                                    
                                                </p>
                                                
                                                <div class="text-xl font-semibold text-white">

                                                    {{ post.author }}

                                                </div>

                                                <svg class="w-28 mx-auto mb-8 mt-12 text-red-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                                    
                                                </svg>

                                                <p class="mb-12 text-2xl font-bold tracking-tight text-white">
                                                    Are you sure you want to delete this post?
                                                </p>

                                                
                                                <form action="{% url 'delete_post' post.id %}" method="POST">

                                                    {% csrf_token %}

                                                    <div class="items-center pt-6 border-t border-gray-800 rounded-b">

                                                        <button class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base px-5 py-2.5 text-center" type="submit">

                                                            Delete Post

                                                        </button>

                                                    </div>
                                                    
                                                </form>
                                                
                                            </div>
                                                
                                        </div>
                                            
                                        </div>
                                    </div>
                                </div>

                    {% endif %}

                </div>
            </div>

        {% endfor %}

    </section>

    <footer class="bg-slate-900 rounded-lg shadow-sm m-4">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">

            <span class="text-sm text-white sm:text-center">
                <a href="{% url 'mit_license' %}" target="_blank" class="hover:underline">Ruled by the MIT License</a>.
            </span>
            <span class="text-sm font-medium text-white sm:text-center">
                Please be aware that the content uploaded here is of free will and responsibility of each independent user that posted it.
            </span>

        </div>
    </footer>

{% endblock %}