{% extends 'index.html' %}
{% load static %}

{% block title %}

    Login - ES.Django.App

{% endblock %}

{% block content %}

    <section class="bg-slate-950">
        <div class="py-44 px-4 mx-auto max-w-screen-xl lg:py-28 grid lg:grid-cols-2 gap-8 lg:gap-16">
            <div class="flex flex-col justify-center">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Django App Deployed on Heroku and AWS</h1>
                <p class="mb-6 text-lg font-normal text-white lg:text-xl">This is a Django CRUD App which aims to show the functionality of this Python Framework when deployed on the internet.</p>
                <span>
                    <a href="{% url 'about' %}" class="text-white hover:underline font-medium text-lg inline-flex items-center">Read more about our app 
                        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </span>
            </div>
            <div>
                <div class="w-full lg:max-w-xl p-6 space-y-8 sm:p-8 bg-slate-900 rounded-lg shadow-xl">

                    <h2 class="text-2xl font-bold text-white">
                        Sign in to ES.Django.App
                    </h2>

                    <!-- Login Form -->
                        <form class="mt-8 space-y-6" method="post">
                            {% csrf_token %}

                            <div>

                                {{ form.as_p }}

                            </div>

                            <div class="flex items-start">

                                <a href="#" class="text-sm font-medium text-blue-600 hover:underline">Lost Password?</a>

                            </div>

                            <button type="submit" class="w-full px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 sm:w-auto">

                                Login to your account

                            </button>

                            <div class="text-sm font-medium text-white">

                                Not registered yet? 
                                <a href="{% url 'signup' %}" class="text-blue-600 hover:underline">
                                    Create account
                                </a>

                            </div>
                        </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}